<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{category.create}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1 th:text="#{category.create}"></h1>
	<a href="/categories" th:text="#{category.list}"></a>
	<form method="POST" action="/category/create">
		<table>
			<caption th:text="#{category.create}"></caption>
			<thead>
				<tr>
					<th th:text="#{category.name.label}"></th>
					<th th:text="#{category.description.label}"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" th:field="${category.name}" /></td>
					<td><input type="text" th:field="${category.description}" /></td>
				</tr>
				<tr>
					<td>
						<button type="submit" th:text="#{create.button.label}"></button>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>